
/* for preLoader*/
.preLoader{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../images/pre-loader.gif)50% no-repeat #fff


}




  #rentType{
      width:100%;
      height: auto;
 
  }
  #vsvideo{
  width:170px;
  height:130px;
  }
 #vsimg{
  width:180px;
  height:140px;
  }
#editTrauncate{
margin-left:15px;
margin-top:20px;
margin-bottom:20px;
}
#gmapjs{
margin-left:5px;
margin-top:50px;
}
/*for angular js */
input.ng-invalid{
background-color:pink;
}
input.ng-valid{
background-color:lightgreen;
}
textarea.ng-invalid{
background-color:pink;
}
textarea.ng-valid{
background-color:lightgreen;
}

p{

color:red;
}
select.ng-invalid{
background-color:pink;
}
select.ng-valid{
background-color:lightgreen;
}
#serviceAlert{
color:red;
}
#addServiceValidation{
font-style:italic;
font-size:15px;

}
#rentTypes{
background-color:pink;
}

#image{
background-color:pink;
}
#video{
background-color:pink;
}
#serviceCountry{
background-color:pink;
}
#district{
background-color:pink;
}
#subDistrict{
background-color:pink;
}
#detailsAddress{
background-color:pink;
}
#serviceDescription{
background-color:pink;
}
#contact{
background-color:pink;
}
#characters{
background-color:pink;
}

#involveCountryName{

text-align:center;
}
#countryNames{

text-align:center;
}
#textCenter{

text-align:center;
text-color:black;
letter-spacing:2px;
word-spacing:3px;
}

/*google map*/
#gmap{
width:1800px;
height:400px;
margin:0 auto;
display:block;
}

