<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css"></head>

<body>
<div class="preLoader">	</div> 
<div th:replace="fragments/nav-bar :: nav-bar"></div>

	<div class="container-fluid">
		<div class="row">
		<div class=" col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2 ">
			<hr>	
		<p id="textCenter">
			This is 'Look the house' project.By this project any person in any country can provide 
			rent office,mess,flat,house,hotel,garage,commercial-space,others and get rent from any place.<br>
			 You can visit this site as an general user,if any person chooses a service then he/she 
			 can contact to the owner and get service easily.If a person want to rent a service then 
			 at first it should registration then he/she is allowed to add a service. <br>
			 In home page if you click a country name then the services is shown which are provides by that country.
			 If we click any picture then it is shown all same categories that are provided by various country.
			 If you are a rent provider then you can edit your services.<br><br>
			  
			 Developer : Md.Aslam Hossain<br>
			 University : Hajee Mohammad Danesh Science & Technology University(HSTU),Dinajpur<br>
			 Department : Electronics & Communication Engineering(ECE)<br>
			 Home district : Rajshahi<br>
			 Contact : <br>
			 Phone : 01795667374,01521473544<br>
			 Email : aslam.renu.soft43@gmail.com<br>
			 Face book : Search by 01795667374...Atif Aslam 
			 
			</p>	
				
			
				 
		</div>	
		</div>
	</div>
<div th:replace="fragments/footer-js::footer-js"></div>

</body>

</html>